{% extends 'layouts/baseinicio.html' %} {% block title %} Eliminar Categoria {% endblock %} {% block content %}
<style>
    #heading {
        color: #ffffff;
    }
</style>
<form action="{{ url_for('eliminar_cat') }}" method="POST">
    <h1 id="heading">Eliminar Categoria</h1>
    <div class="form-group container">
        <label id="heading" for="EIDC">ID de la categoria</label>
        <input type="text" id="EIDC" name="EIDC">
    </div>
    <center>
        <button type="submit" class="btn btn-danger">Eliminar</button>
        <button class="btn"><a href="{{ url_for('categorias') }}" >Volver</a></button>
    </center>

</form>
{% endblock %}