{% extends 'layouts/base.html' %} {% block title %} Productos {% endblock %} {% block content %}
<style>
    #heading {
        color: #ffffff;
    }
</style>
<h1 id="heading">Productos</h1>
<div>
    <button type="submit" class="btn btn-success"><a  href="{{ url_for('crear_prod') }}">Crear</a></button>
</div>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Categoria</th>
            <th>Acción</th>

        </tr>
    </thead>
    <tbody>{% for lista in productos %}
        <tr>
            <td>{{ lista[0] }}</td>
            <td>{{ lista[1] }}</td>
            <td>{{ lista[2] }}</td>
            <td>{{ lista[3] }}</td>
            <td>
                <button class="btn btn-info"><a href="{{ url_for('editar_prod') }}" >Editar</a></button>
                <button class="btn btn-danger"><a href="{{ url_for('eliminar_prod') }}" >Eliminar</a></button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}